@include breakpoint($movil) { //20em 320px
	// GENERIC
	.page-template-page-canvasfree {
		.site-content {
			padding-top: 0px;
		} //.site-content
		#primary {
			max-width: 100%;
		}
	} //.page-template-page-canvasfree
	/* PROYECTO */
	.canvasfree {
		.page-proyecto {

			// ENTRY HEADER
			.entry-header {

			} //.entry-header
			// ENTRY CONTENT
			.entry-content {

			} //.entry-content
		} //.page-proyecto
	} //.canvasfree


} //breakpoint($movil) 20em 320px


@include breakpoint($tablet) { //30em 480px

} //breakpoint($tablet) 30em 480px


@include breakpoint($laptop) { //48em 768px
	// GENERIC
	.page-template-page-canvasfree {
		#content {
			padding-bottom: 0px !important;
		}
		#content,
		.site-content {
			padding-top: 0px !important;
		} //.site-content
		#primary {
			max-width: 100% !important;
		}
	} //.page-template-page-canvasfree

	/* PROYECTO */
	.canvasfree {
		.page-proyecto {
			// ENTRY HEADER
			.entry-header {
				margin-bottom: 0px;
				.entry-header-wrap {
					@include container();
					padding: 2em 4em 2em;
					.entry-title { //h1
						font-weight: $bold;
					} //.entry-title
					.entry-subtitle {
						margin: 0px;
						padding: 0px;
						text-transform: uppercase;
						font-weight: $light;
						font-size: 20px;
						font-size: 1.25rem;
						color: $orange;
					} //.entry-subtitle
				} //.entry-header-wrap
			} //.entry-header
			// ENTRY CONTENT
			.entry-content {
				background-color: $snow;
				padding: 4em 0px;
				.entry-content-wrap {
					@include container();
					padding: 0px 4em;
					.columntxt {
						-webkit-column-count: 2;
						-webkit-column-gap: 3em;
						-webkit-column-rule-width: 1px;
						-webkit-column-rule-style: dotted;
						-webkit-column-rule-color: $lightgrey;
						column-count: 2;
						column-gap: 3em;
						column-rule-width: 1px;
						column-rule-style: dotted;
						column-rule-color: $lightgrey;
						p {
							font-weight: $light;
						} //p
					} //.columntxt
				} //.entry-content-wrap
			} //.entry-content
			// IMAGE SOLID
			.image-solid {
				margin: 0px;
				height: 300px;
				width: 100%;
				@include backImage($proyecto_img);
			} //.image-solid
			// ADDITIONAL CONTENT
			.more-content {
				background-color: $snow;
				padding: 4em 0px 3em;
				.more-content-wrap {
					@include container();
					padding: 0px 4em;
					p, ul, ol {
						font-weight: $light;
					} //p, ul, ol
					ol {
						margin-left: 1em;
						li {
							font-weight: $bold;
						} //li
					} //ol
					ul {
						margin-left: 1.4em;
						li {
							list-style-type: square;
							margin-bottom: 1em;
						} //li
					} //ul
					.columntxt {
						-webkit-column-count: 2;
						-webkit-column-gap: 3em;
						-webkit-column-rule-width: 1px;
						-webkit-column-rule-style: dotted;
						-webkit-column-rule-color: $lightgrey;
						column-count: 2;
						column-gap: 3em;
						column-rule-width: 1px;
						column-rule-style: dotted;
						column-rule-color: $lightgrey;

					} //.columntxt
				} //.more-content-wrap
			} //.more-content
		} //.page-proyecto
	} //.canvasfree

	/* LOS MEDIOS */
	.canvasfree {
		.page-medios {
			// ENTRY HEADER
			.entry-header {
				margin-bottom: 0px;
				.entry-header-wrap {
					@include container();
					padding: 2em 4em 2em;
					.entry-title { //h1
						font-weight: bold;
					} //.entry-title
					.entry-subtitle {
						margin: 0px;
						padding: 0px;
						text-transform: uppercase;
						font-weight: $light;
						font-size: 20px;
						font-size: 1.25rem;
						color: $orange;
					} //.entry-subtitle
				} //.entry-header-wrap
			} //.entry-header

			// ENTRY CONTENT
			.entry-content {
				background-color: $snow;
				padding: 2em 0px;

				.entry-content-wrap {
					@include container();
					padding: 0px 4em;
					p, ul, ol {
						font-weight: $light;
					} //p, ul, ol
					ol {
						margin-left: 1em;
						li {
							font-weight: $bold;
						} //li
					} //ol
					ul {
						margin-left: 1.4em;
						li {
							list-style-type: square;
							margin-bottom: 1em;
						} //li
					} //ul
					.columntxt {
						column-count: 2;
						column-gap: 3em;
						column-rule-width: 1px;
						column-rule-style: dotted;
						column-rule-color: $lightgrey;
						column-width: 300px;
						h2 {
							column-span: all;
						} //h2
					} //.columntxt
				} //.entry-content-wrap
			} //.entry-content
		} //.page-medios
	} //.canvasfree

	/* APRENDIZAJES */
	.canvasfree {
		.page-aprendizajes {
			// ENTRY HEADER
			.entry-header {
				margin-bottom: 0px;
				.entry-header-wrap {
					@include container();
					padding: 2em 4em 2em;
					.entry-title { //h1
						font-weight: bold;
					} //.entry-title
					.entry-subtitle {
						margin: 0px;
						padding: 0px;
						text-transform: uppercase;
						font-weight: $light;
						font-size: 20px;
						font-size: 1.25rem;
						color: $orange;
					} //.entry-subtitle
				} //.entry-header-wrap
			} //.entry-header

			// ENTRY CONTENT
			.main-content {
				background-color: $black;
				@include backImage($aprendizajes_img);
				.imgfilter {
					padding: 3em 0px;
					@include background-image(linear-gradient(top, rgba(0,0,0,0.2) 20%,rgba(0,0,0,0.6) 100%));
					.entry-content-wrap {
						@include container();
						padding: 0px 4em;
						p, ul, ol, a {
							font-weight: $light;
							color: $white;
							@include single-text-shadow(0px, 1px, 0px, true, $carbon);
						} //p, ul, ol
						a {
							text-decoration: none;
						}
						ol {
							margin-left: 1em;
							li {
								font-weight: $bold;
							} //li
						} //ol
						ul {
							margin-left: 1.4em;
							li {
								list-style-type: square;
								margin-bottom: 1em;
							} //li
						} //ul
						.columntxt {
							column-count: 2;
							column-gap: 3em;
							column-rule-width: 1px;
							column-rule-style: dotted;
							column-rule-color: $lightgrey;
							column-width: 300px;
							h2 {
								column-span: all;
							} //h2
						} //.columntxt
					} //.entry-content-wrap
				} //.imgfilter
			} //.entry-content

			// VIDEO JUANITA LEÓN
			.video-content {
				width: 100%;
				height: auto;
				padding: 4em 0px;
				.video-content-wrap {
					@include container();
					padding: 0px;
					// VIDEO
					.the-video {
						display: block;
						height: auto;
						iframe {
							display: block;
							margin: 0px auto;
							// width: 650px;
							// height: 100%;
							// height: 600px;
							margin-bottom: 0px;
							padding-bottom: 0px;
						} //iframe
					} //.the-video

					// VIDEO META
					.video-meta {
						padding: 0px 3em;
						margin-bottom: 2em;
						.entry-subtitle {
							margin: 0px 0px 0.5em;
							padding: 0px;
							text-transform: uppercase;
							font-weight: $normal;
							font-size: 20px;
							font-size: 1.25rem;
							text-align: center;
							color: $iccoblue;
						} //.entry-subtitle
						p {
							font-weight: $light;
							line-height: 1.4;
							text-align: center;
						} //p
					} //.video-meta
				} //.video-content-wrap
			} //.more-content

			// FUCK UP NIGHTS
			.fun-content {
				// FUN CONTEXT
				.fun-context {
					background-color: $snow;
					padding: 3em 0px;
					width: 100%;
					@include filter-gradient(#E6E6E6, #FFFFFF, horizontal);
					@include background-image(radial-gradient(top, ellipse cover, rgba(230, 230, 230, 1) 0%,rgba(255, 255, 255, 1) 100%));
					.fun-context-wrap {
						@include container();
						min-height: 400px;
					}
					h2 {
						margin: 0px 0px;
				    padding: 0px;
				    text-transform: uppercase;
				    font-weight: $bold;
				    font-size: 24px;
				    font-size: 1.5rem;
				    text-align: center;
				    color: $carbon;
					} //h2
					h3 {
						font-weight: $light;
						font-style: italic;
						font-size: 18px;
						font-size: 1.125rem;
						margin: 0px 3em;
						padding: 0px;
						text-align: center;
						color: darken($orange, 10%);
					} //h3
					.columntxt {
						margin-top: 2em;
						-webkit-column-count: 3;
						-webkit-column-gap: 1em;
						-webkit-column-rule-width: 1px;
						-webkit-column-rule-style: dotted;
						-webkit-column-rule-color: $lightgrey;
						column-count: 3;
						column-gap: 2em;
						column-rule-width: 1px;
						column-rule-style: dashed;
						column-rule-color: $orange;
						height: auto;
						h3 {
							text-align: left;
							margin: 0px 0px 0.5em;
							font-size: 20px;
							font-size: 1.25rem;
						} //h3
						h4 {
							margin: 0px;
							padding: 0px;
							font-size: 18px;
							font-size: 1.125rem;
							font-weight: $normal;
							color: $iccoblue;
						} //h4
						p {
							font-weight: $light;
							font-size: 15px;
							font-size: 0.9375rem;
							margin-top: 0px;
							margin-bottom: 0.75em;
						} //p
						ol, ul {
							padding-left: 0.75em;
							margin-top: 0px;
							margin-bottom: 1em;
							li {
								font-weight: $light;
								font-size: 15px;
								font-size: 0.9375rem;
								margin-bottom: 0.5em;
							}
						}
					} //.columntxt
				} //.fun-context
				// FUN EVENTS
				.fun-events {
					background-color: $white;
					padding: 3em 0px;
					.fun-events-wrap {
						min-height: 400px;
						@include container();
						display: flex;
						flex-wrap: no-wrap;
						justify-content: space-between;
						.event-row {
							width: 45%;
							h2 {
								text-align: center;
								color: $orange;
								font-size: 20px;
								font-size: 1.25rem;
								text-transform: uppercase;
							} //h2
							p {
								font-weight: $light;
								font-size: 14px;
								font-size: 0.875rem;
								margin: 0px 3em 1em;
								text-align: justify;
							} //p
							.event-video {
								// border: 2px solid tomato;
								margin-top: 1em;
								padding: 2em;
								iframe {
									// height: 300px !important;

								} //iframe
							} //.event-video
						} //.event-row
					} //.fun-events-wrap
				} //.fun-events

			} //.fun-content

		} //.page-aprendizajes
	} //.canvasfree


	/* MODELO CANVAS */


} //breakpoint($laptop) 48em 768px


@include breakpoint($desktop) { //67em 1072px

} // breakpoint($desktop) 67em 1072px


@include breakpoint($largedesk) { //79em 1264px

} //breakpoint($largedesk) 79em 1264px






















