// FONTS
$copy: 'Oswald', sans-serif; //300, 400, 500
$title: 'Saira Extra Condensed', sans-serif; //300, 400

/* $copy: 'Roboto Slab', serif; //300, 400
$title: 'Open Sans', sans-serif; //300, 400, 600 */

// WEIGHTS
$light: 300;
$normal: 400;
$bold: 600;
